/* Windows */

ModeWindow
{
    background-color: rgb(89, 89, 89);
}

ProgramWindow
{
    background-color: rgb(38, 38, 38);
}

/* Font color */

QLabel
{
    color: rgb(226, 226, 226);
}

/* Buttons */

TPushButton
{
    color: rgb(226, 226, 226);
    border-image: url(:/res/img/button-border.png) 3 repeat stretch;
    border-width: 3px;
    padding: 2px 6px;
    outline: none;
}
TPushButton:focus, TPushButton:selected {
    border-image: url(:/res/img/button-border-selected.png) 3 repeat stretch; }
TPushButton:hover {
    border-image: url(:/res/img/button-border-hover.png) 3 repeat stretch; }
TPushButton:focus:hover, TPushButton:selected:hover {
    border-image: url(:/res/img/button-border-selected-hover.png) 3 repeat stretch; }
TPushButton:pressed, TPushButton:focus:pressed, TPushButton:selected:pressed {
    border-image: url(:/res/img/button-border-selected-pressed.png) 3 repeat stretch; }

/* Inputs */

QLineEdit
{
    background-color: rgb(166, 166, 166);
}

/* Panels */

AbstractPanel
{
    border-image: url(:/res/img/panel-border.png) 2 stretch stretch;
    border-width: 2px;
}

AbstractPanel > #title
{
    padding: auto 1px;
    background-image: url(:/res/img/panel-header.png);
}